.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 60px auto;
  gap: 10px;
  font-family: sans-serif;
  font-weight: bold;
}
.grid div {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #607d8b;
  counter-increment: num-div;
}
.grid div::after {
  content: "Element " counter(num-div);
  color: #fff;
}
