div {
  width: 300px;
  font-family: sans-serif;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #d4d4d4;
}
div::first-letter {
  padding: 10px 5px;
  background-color: red;
  color: white;
  margin-left: -30px;
}
