div {
  width: 400px;
  height: 400px;
  /* background-color: rgb(138, 43, 226); */
  background-image: url(../imgs/css-assignment-5-8.png);
  margin: 40px;
  background-color: rgb(184, 185, 185);
}
.assign-3-shape-1 {
  background-repeat: no-repeat;
  background-size: 80%;
}
.assign-3-shape-2 {
  background-repeat: repeat-y;
  background-position: right;
  background-size: 80%;
}
.assign-3-shape-3 {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 80%;
}
.assign-3-shape-4 {
  background-repeat: no-repeat;
  background-position: bottom right;
}
