.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px;
}
.grid div {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #2196f3;
  color: #fff;
}
.one {
  grid-row: 6;
  grid-column: span 9;
}
.two {
  grid-row: 2;
  grid-column: span 6;
}
.three {
  grid-row: 2;
  grid-column: span 3;
}
.four {
  grid-row: 3;
  grid-column: span 3;
}
.five {
  grid-row: 3/6;
  grid-column: span 6;
}
.six {
  grid-row: 4;
  grid-column: span 3;
}
.seven {
  grid-row: 5;
  grid-column: span 3;
}
.eight {
  grid-row: 1;
  grid-column: span 9;
}
