div {
  width: 300px;
  height: 200px;
  margin: 100px auto;
  padding: 20px;
  background-color: #eee;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #03a9f4;
  font-weight: bold;
  position: relative;
  border: 2px solid #e5e5e5;
}
div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #03a9f4;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}
div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #e91e63;
  transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
}
