div {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  padding: 20px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
div::after {
  content: "";
  width: 240px;
  height: 240px;
  position: absolute;
  border: 10px solid;
  border-color: #e91e63 #e91e63 #e91e63 #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s 0.3s;
  -webkit-transition: 0.5s 0.3s;
  -moz-transition: 0.5s 0.3s;
  -ms-transition: 0.5s 0.3s;
  -o-transition: 0.5s 0.3s;
}
div::before {
  content: "";
  width: 260px;
  height: 260px;
  position: absolute;
  border: 10px solid;
  border-color: #2196f3 #fff #2196f3 #2196f3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s 0.8s;
  -webkit-transition: 0.5s 0.8s;
  -moz-transition: 0.5s 0.8s;
  -ms-transition: 0.5s 0.8s;
  -o-transition: 0.5s 0.8s;
}
div:hover::after,
div:hover::before {
  transform: rotate(1turn);
  -webkit-transform: rotate(1turn);
  -moz-transform: rotate(1turn);
  -ms-transform: rotate(1turn);
  -o-transform: rotate(1turn);
}
