.parent {
  width: 600px;
  height: 300px;
  padding: 10px;
  background-color: #eee;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.parent div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% / 3);
  height: 50%;
  color: #fff;
}
.one {
  order: 2;
  background-color: #ff9800;
}
.two {
  order: 3;
  background-color: #8bc34a;
  align-self: flex-end;
}
.three {
  order: 4;
  background-color: #795548;
}
.four {
  order: 1;
  background-color: #673ab7;
  align-self: flex-end;
}
