h1 {
  width: 150px;
  height: 60px;
  background-color: #009688;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  position: relative;
}
h1::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 25px;
  background-color: #009688;
  z-index: -1;
  left: -12px;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}
h1::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 12px;
  background-color: #009688;
  z-index: -1;
  left: -30px;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}
