div {
  width: 500px;
  color: #ffffff;
  padding: 20px;
  background: blueviolet;
  background: rgb(138, 43, 226);
  background: hsl(271, 76%, 53%);
  background: #8a2be2;
  margin: auto;
  margin-top: 10px;
}
.assign-1-shape-1 {
  background-color: #8a2be2;
  width: 70%;
}
/* making alpha 5 from 10 (opacity 50%) */
.assign-1-shape-2 {
  background: rgb(138, 43, 226, 0.5);
  width: 70%;
}
/* making alpha 1 from 10 (opacity) */
.assign-1-shape-3 {
  background: rgb(138, 43, 226, 0.1);
  width: 70%;
}
