.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 20px auto;
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.grid div {
  text-align: center;
  color: #fff;
  background-color: #e91e63;
}
