.class {
  content: " ";
  width: 200px;
  height: 60px;
  margin: 100px auto;
  background-color: #376591;
  transform: matrix(3, 0.2679, 0, 3, 20, 100);
  -webkit-transform: matrix(3, 0.2679, 0, 3, 20, 100);
  -moz-transform: matrix(3, 0.2679, 0, 3, 20, 100);
  -ms-transform: matrix(3, 0.2679, 0, 3, 20, 100);
  -o-transform: matrix(3, 0.2679, 0, 3, 20, 100);
}
/* matrix(scalex,skewx,skewy,scaley,translatex,translatey) */
