div {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #e4eaee;
  border: 2px solid;
  border-color: #f44336 #2196f3;
  position: relative;
}
div span {
  text-align: center;
  width: 20px;
  color: white;
  background-color: #2196f3;
  position: absolute;
}
.top-left {
  z-index: 1;
  left: -12px;
  top: -11px;
  border-right: 2px solid#f44336;
}
.bottom-left {
  left: -12px;
  bottom: -11px;
  border-right: 2px solid#f44336;
}
.top-right {
  right: -12px;
  top: -11px;
  border-left: 2px solid#f44336;
}
.bottom-right {
  right: -12px;
  bottom: -11px;
  border-left: 2px solid#f44336;
}
