div {
  position: relative;
  width: 600px;
  margin: 40px auto;
  text-align: center;
  font-size: 60px;
  padding: 20px;
  background-color: #eee;
}
div::before {
  content: "";
  position: absolute;
  width: 660px;
  height: 130px;
  z-index: -1;
  top: -10px;
  left: -10px;
  background-image: linear-gradient(
    to right,
    #f44336 20%,
    #2196f3 20%,
    #2196f3 40%,
    #4caf50 40%,
    #4caf50 60%,
    #e91e63 60%,
    #e91e63 80%,
    #673ab7 80%
  );
}
div::first-letter {
  color: #f44336;
}
